<div class="app-container" [ngClass]="{ 'bg-light': account }">
  <!-- main nav -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="account">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">My App</a>

      <!-- mobile toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- navbar links -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <!-- left -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a routerLink="/profile" routerLinkActive="active" class="nav-link">Profile</a>
          </li>
           <!-- ✅ Show "My Requests" only for USER accounts that are employees -->
          <li *ngIf="account.role !== Role.Admin && account.employeeId" class="nav-item">
            <a routerLink="/requests" routerLinkActive="active" class="nav-link">My Requests</a>
          </li>
        </ul>

        <!-- right -->
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li *ngIf="account.role === Role.Admin" class="nav-item">
            <a routerLink="/admin/accounts" routerLinkActive="active" class="nav-link">Accounts</a>
          </li>
          <li *ngIf="account.role === Role.Admin" class="nav-item">
            <a routerLink="/admin/employees" routerLinkActive="active" class="nav-link">Employees</a>
          </li>
          <li *ngIf="account.role === Role.Admin" class="nav-item">
            <a routerLink="/admin/departments" routerLinkActive="active" class="nav-link">Departments</a>
          </li>
          <li *ngIf="account.role === Role.Admin" class="nav-item">
            <a routerLink="/admin/positions" routerLinkActive="active" class="nav-link">Positions</a>
          </li>
          <li *ngIf="account.role === Role.Admin" class="nav-item">
            <a routerLink="/admin/requests" routerLinkActive="active" class="nav-link">Request</a>
          </li>
          <li class="nav-item">
            <button (click)="logout()" class="btn btn-link nav-link text-danger">Logout</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- subnav router outlet -->
  <router-outlet name="subnav"></router-outlet>

  <!-- global alert -->
  <div class="container mt-3">
    <alert></alert>
    <router-outlet></router-outlet>
  </div>
</div>
